<%= form_for(@question) do |f| %>
  <%= f.hidden_field :author, value: current_user.id %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([['Open'], ['Closed'],['Waiting']]) ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :message %><br>
    <%= f.text_area :message, rows: 15,class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "Create question", class: "btn btn btn-success" %>
  </div>
<% end %>

