<h1>Listing questions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.message %></td>
        <td><%= link_to 'Show', question, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_question_path(question) , class: "btn btn-warning"%></td>
        <td><%= link_to 'Destroy', question, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, class: "btn btn-default" %>
