<p id="notice"><%= notice %></p>

<h2><%= @question.title %></h2>
<hr/>
<p>
  <%= @question.message %>
</p>
<hr/>
<%= @question.user.name %> | <%= @question.created_at %><br/><br/><br/>
<h4>Answers:</h4>
<% @question.answers.each do |a| %>
  <p>
  	<%= a.message %>
  </p>
  <%= a.user.name %> | <%= a.created_at %><br/>
  <br/><br/>
<% end %>
<% unless @question.status == "Closed" || !signed_in? %>
  <%= form_for(@answer) do |f| %>
    <%= f.hidden_field :author, value: current_user.id %>
    <%= f.hidden_field :question_id, value: @question.id %>
    <br/>
    <div class="form-group">
      <%= f.label :message %><br>
      <%= f.text_area :message, rows: 8,class: "form-control"%>
    </div>
    <div class="actions">
      <%= f.submit "Create answer", class: "btn btn btn-success" %>
    </div>
  <% end %>
<% end %>
<br/>
<%= link_to "back", root_path, class: "btn btn-default" %>
