<div class="content">
  <h3>Sign in</h3>
  <%= form_for :session, url: sessions_path, :html => {class: "form-horizontal"} do |f| %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="form-group">
      <%= f.label :email, class: "control-label col-sm-2" %>
      <div class="col-sm-4">
         <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "control-label col-sm-2" %>
      <div class="col-sm-4">
         <%= f.password_field :password, class: "form-control " %>
      </div>
    </div>
    <%= f.submit "Sign in", class: "btn btn-default" %>
    <%= link_to "Cancel", root_path, class: "btn btn-default" %>
  <% end %>
</div>
