<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-5">
  	<h4>Youre question:</h4>
  	<% @user.questions.each do |q| %>
  	  <%= link_to q.title, q %> | 
      <%= q.status %> |
  	  <%= link_to "Edit", edit_question_path(q) %> |
  	  <%= link_to 'Destroy', q, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
  	  ---------------------------------<br/>
  	<% end %>
  </div>
  <div class="col-md-5">
  	<h4>Youre Answer:</h4>
  	<% @user.answers.each do |a| %>
  	  <%= a.message %> | 
  	  <%= link_to "Edit", edit_answer_path(a) %> |
  	  <%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
  	  ---------------------------------<br/>
  	<% end %>
  </div>
</div>

