<h1>List of question</h1>
<table class="table">
  <thead>
  	<tr>
  	  <th>Answer</th>
      <th>View</th>
  	  <th>Title</th>
      <th>Status</th>
  	  <th>Author</th>
  	  <th>Created at</th>
  	</tr>
  </thead>
  <tbody>
  	<% @questions.each do |q| %>
      <% unless q.status == "Waiting" %>
    	  <tr>
    	  	<td><%= q.answers.count %></td>
          <td><%= q.view %></td>
    	  	<td><%= link_to q.title, q %></td>
          <td><%= q.status %></td>
    	  	<td><%= q.user.name %></td>
    	  	<td><%= q.created_at %></td>
    	  </tr>
      <% end %>
  	<% end %>
  </tbody>
</table>
<% if signed_in? %>
<%= link_to "Ask question", new_question_path, class: "btn btn-primary" %>
<% end %><br/>

<%= paginate @questions %>