<h1>Listing answers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.message %></td>
        <td><%= link_to 'Show', answer, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_answer_path(answer), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', answer, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer', new_answer_path, class: "btn btn-default" %>
