<h3>Admin panel</h3>

<%= link_to "Users", users_path %><br/>
<%= link_to "Questions", questions_path %><br/>
<%= link_to "Answers", answers_path %><br/>
<%= link_to "Labels", labels_path %><br/>

