<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Asq question!", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
      <% unless signed_in? %>
        <li><%= link_to "Registration", signup_path %></li>
        <li><%= link_to "Login", signin_path %></li>
      <% else %>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Signout", signout_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
