<!DOCTYPE html>
<html lang="en">
<head>
  <title>AsqQuestion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<div class="container">
  <div claas="row">
  	<div class="col-md-8">
      <%= yield %>
     </div>
    <div class="col-md-2">
      <%= render "layouts/admin_panel" if is_admin? %>
   	</div>
   </div>
</div>
</body>
</html>
